$primaryColor: #fff;
$secondaryColor: #272727;
$primaryFont: "Roboto Mono", monospace;

@mixin flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: $primaryFont;
  color: $secondaryColor;
  background: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  h1 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 18px;
  }
}

@media (max-width: 1200px) {
  header .wrapper {
    flex-direction: column;
    h1 {
      margin: 0 0 40px 0;
    }
  }
}

form ul {
  @include flex-row-center;
  li label {
    margin-right: 40px;
    padding: 20px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    @include flex-column-center;
    cursor: pointer;
    transition: background-color 0.35s, color 0.35s;
    border-radius: 10px;
  }
}

form ul li:last-child label {
  margin-right: 0;
}

form ul li:first-child:hover label {
  background: rgba(239, 142, 25, 0.2);
}

form ul li:nth-child(2):hover label {
  background: rgba(18, 18, 18, 0.2);
}

form ul li:nth-child(3):hover label {
  background: rgba(254, 199, 35, 0.2);
}

input[type="radio"] {
  opacity: 0;
}

input[value="bitcoin"]:checked + label {
  background: rgba(239, 142, 25, 0.2);
}

input[value="ethereum"]:checked + label {
  background: rgba(18, 18, 18, 0.2);
}

input[value="dogecoin"]:checked + label {
  background: rgba(254, 199, 35, 0.2);
}

.wrapper .chart-container {
  background: white;
  padding: 40px;
  border-radius: 30px;
  height: 590px;
  box-shadow: inset 5px 5px 10px #f4f4f4, inset -20px -20px 60px #ffffff;
  p {
    margin-top: 40px;
    text-align: center;
  }
}
